{{#section 'css'}}
<link rel="stylesheet" href="/public/stylesheets/bootstarp-min.css">
<link rel="stylesheet" href="/public/stylesheets/home.css">
{{/section}}


        <div class="col-md-10 ">
            Latest   course
            <div>
                <hr/>
            </div>
        </div>
   
        <div class="col-md-10 ">
            Most viewed
            <div>
                <hr/>
            </div>
        </div>
        <div class="col-md-10 ">
            Most registered
            <div>
                <hr />
            </div>
        </div>
   